* {
	margin: 0;
}

html, body {
	background-color: black;
	color: white;
	height: 100%;
}
.content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.forms {
	width: 700px;
	margin: auto;
	text-align:center;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

.forms h2 {
	color: white;
	font-family: 'Droid Serif';
}

.forms p {
	padding-top:5px;
	font-size:14px;
}

.btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 13px;
  background: #ffffff;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #d4d4d4;
  text-decoration: none;
}

.placecolor::-webkit-input-placeholder {
    color:    red;
}
.placecolor:-moz-placeholder {
    color:    red;
}
.placecolor::-moz-placeholder {
    color:    red;
}
.placecolor:-ms-input-placeholder {
    color:    red;
}

.forminput {
	padding-top: 10px;
	padding-bottom: 30px;
	margin: auto;
	width: 310px;
}

.pass-change {
	padding-bottom: 40px;
}

.floater {
	padding-top:10px;
	width:auto;
	float:right;
}

.logo {
	padding-top: 5px;
	text-align:center;
}

.container {
    margin: 10px auto;
    width: 90%;
}

/* general styles */
.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 60px;
	width: 650px;
	margin: auto;
	text-align:center;
}
.menu li {
    background: black;
    min-width: 160px;
}
.menu > li {
    float: left;
    position: relative;
}

.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: white;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}

/* onhover styles */
.menu li:hover {
    background-color: #1c1c1c;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #454545;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.footer, .push {
	text-align: center;
	height: 4em;
}

.banner {
	text-align: center;
	max-width: 704px;
	margin: auto;
	padding-bottom: 4%;
}

.banner h1 {
	padding-bottom: 2%;
	color: white;
	font-family: 'Droid Serif';
	font-size: 30px;
}

.banner img {
	padding-top: 1%;
	padding-bottom: 1%;
}

.forminput #drag1,
.forminput #drag2 {
	margin-top: 10px;
}

.forminput #unlock1,
.forminput #unlock2 {
	margin-top:10px;
}

.forminput #drag1 #clear,
.forminput #drag2 #clear {
	clear: both;
}

.forminput #key {
	float:left;
	width: 90px;
	height: 39px;
}

.forminput #lock {
	height: 39px;
	width: 90px;
	border: 1px white solid;
	padding: 10px;
	float: right;
}

.clear {
	clear: both;
}

.copyright p {
    padding-top: 10px;
	color: white;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
}

.copyright a {
	color: white;
	text-decoration: none;
}